body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height:65px;
    width: 100%;
    background: #222;
}
header img{
    height: 65px;
}
header h3{
    color: #777;
    float: right;
    padding: 0;
    margin: 20px 0 0 0;

}
.container{
    width: 96%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 2%;
}
.container-body{
    width: 96%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 2%;
    background: #f7f7f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.searchbox{
    background: #f7f7f7;
    width: 100%;
    border-bottom: #e3e3e3 1px solid;
    font: #333;
}
.searchbox input{
    height: 30px;
    background: transparent;
    border: 1px solid #e3e3e3;
    padding-left:10px;
    margin: 10px 10px 10px 0;
    width: 150px;
    color: #333;
    font-size: 16px;
}
input::placeholder{
    color: #333;
}
.searchbox button{
    background: #dc1016;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    border: none;
    height: 34px;
    width: 163px;
    font-size: 14px;
    padding: 0;
}
.searchbox button:hover{
    background: #222;
}

.btndark{
    background: #222 !important;
}
.btndark:hover{
    background: #dc1016 !important;
}
.namelist{
    padding: 20px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    padding: 10px 10px;
}
li:nth-child(odd){
    background: #fff;
}
li:hover{
    background: lightgray;
}
li:last-child{
    margin-bottom: 20px;
}